{
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "narf": "./alexandria/tacos/narf",
        "alexandria": "./alexandria",
        "entities": "./entities",
        "levelMaps": "./levelMaps",
        "logics": "./logics",
        "utils": "./alexandria/utils",
        "notlilgui": "./notlilgui"
      }
    }]
  ]
}
