
#notlilgui {
  position: absolute;
  overflow: auto;
  height: auto;
  top: 0px;
  left: 0px;
  z-index: 2;
  background: #000000ba;
  width: 120px;
  /* min-height: 600px; */
  padding: 20px 0;
  border-right : 1px #3c3c3c solid;
  /* flex box */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
}

#notlilgui .item{

  background: white;
  width: 40px;
  height: 40px;
  margin-bottom: 12px;
  // padding: 20px 0 0 0px;
  border : 1px white solid;
  border-radius: 12px;
  appearance: none;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  overflow: hidden;

  /* order: 0; */
  /* flex: 0 1 auto; */
  /* align-self: auto; */

}

#notlilgui .item:checked {
  appearance: checkbox;
  border-radius: 12px;
}
